<template>
            <div>
                <app-NavBar >
                </app-NavBar>
            </div>
</template>

<script>
    import NavBar from './components/NavBar.vue'
    export default {
        components:{
            appNavBar:NavBar
        }
    }
</script>

<style >
    body{
        margin:0;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        line-height: 1.2;
        box-sizing: border-box;
    }
    html{
    font-size:62.5%;
    }
</style>
<style >
</style>